node_modules/
.cache/
public/
public/chunk-map.json
public/webpack.stats.json
# Local Netlify folder
.netlify
# @netlify/plugin-gatsby ignores start
netlify/functions/gatsby
# @netlify/plugin-gatsby ignores end
