.work-temp header {
  padding: 3rem 2rem 0 2rem;
  /* #1b1c28 */
}
.work-temp header .lg-heading {
  font-size: 2rem;
}

.btn-outline-primary {
  border-color: #94c85a;
  color: #94c85a;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.9);
}

/* project stats */
.project-stat {
  background-color: #1b1c28;
}
.project-stat .container {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media screen and (min-width: 800px) {
  .project-stat .container {
    grid-template-columns: 2fr 1fr;
  }
  .project-stat__information {
    text-align: left;
  }
}

@media screen and (min-width: 1000px) {
  .project-stat .container {
    grid-template-columns: 3fr 1fr;
  }
}

.project-stat__information {
  margin-right: 1rem;
}
.project-stat__block {
  margin-bottom: 1.5rem;
}

.project-stat__block--header {
  margin-bottom: 0.75rem;
}

.img-fluid {
  max-width: 100%;
}

/* project-tools */
.project-tools {
  padding-top: 2rem;
  padding-bottom: 4rem;
  background-color: #f7f7f7;
  color: rgb(79, 79, 79);
}
.project-tools__heading {
  margin-bottom: 3rem;
}
.project-tools__stats {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

@media screen and (min-width: 700px) {
  .project-tools__stats {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1000px) {
  .project-tools__stats {
    grid-template-columns: repeat(4, 1fr);
  }
}

.project-tool {
  margin-right: 1.5rem;
  margin-bottom: 3rem;
}
.project-tool h4 {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  color: #292929;
  font-weight: 700;
  font-size: 1.75rem;
}

.project-tool img {
  width: 160px;
  height: 145px;
  margin-bottom: 0.5rem;
}

.project-process {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
@media screen and (min-width: 1000px) {
  .project-process {
    grid-template-columns: 2fr 1fr;
  }
  .project-process--information {
    text-align: left;
  }
}

.project-process--information {
  margin-bottom: 2rem;
  padding-right: 1rem;
}

.project-process--information h2 {
  margin-bottom: 1rem;
}
