.work-temp {
  background-color: #fff;
  color: #292929;
}
.work-temp a {
  color: #292929;
}
.profile-emoji {
  background-color: #fff;
  padding: 0.5rem;
  bottom: -30px;
}

.image-banner {
  padding-top: 3.5rem;
}
.image-inner {
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

@media screen and (min-width: 768px) {
  .image-inner {
    height: 450px;
  }
  .profile-emoji {
    background-color: #fff;
    padding: 0.5rem;
    bottom: 0;
  }
}
.project {
  margin-top: -4.5rem;
}

.project .project-heading {
  margin-top: 2rem;
}

.work-temp header .lg-heading {
  font-size: 2rem;
}

.btn-outline-primary {
  border-color: #94c85a;
  color: #94c85a;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.9);
}

/* project stats */

.project-stat .container {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media screen and (min-width: 800px) {
  .project-stat .container {
    grid-template-columns: 2fr 1fr;
  }
  .project-stat__information {
    text-align: left;
  }
  .project .project-heading {
    margin-top: 0;
  }
}

@media screen and (min-width: 1000px) {
  .project-stat .container {
    grid-template-columns: 3fr 1fr;
  }
}

.project-stat__information {
  margin-right: 1rem;
}
.project-stat__block {
  margin-bottom: 1.5rem;
}

.project-stat__block--header {
  margin-bottom: 0.75rem;
}

.img-fluid {
  max-width: 100%;
}

/* project-tools */
.project-tools {
  padding-top: 2rem;
  padding-bottom: 1rem;
  color: rgb(79, 79, 79);
}
.project-tools__heading {
  margin-bottom: 3rem;
}
.project-tools__stats {
  display: flex;
  flex-wrap: wrap;
  /* display: grid; */
  /* grid-template-columns: repeat(1, 1fr); */
}
.project-tools__header {
  margin-right: 0.5rem;
}

/* @media screen and (min-width: 700px) {
  .project-tools__stats {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1000px) {
  .project-tools__stats {
    grid-template-columns: repeat(4, 1fr);
  }
} */

.project-tool {
  margin-right: 1.5rem;
  /* margin-bottom: 3rem; */
}
.project-tool h4 {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  color: #292929;
  font-weight: 700;
  font-size: 1.75rem;
}

.project-tool img {
  width: 50px;
  height: 50px;
  margin-bottom: 0.5rem;
}

.project-process {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
@media screen and (min-width: 1000px) {
  .project-process {
    grid-template-columns: 2fr 1fr;
  }
  .project-process--information {
    text-align: left;
  }
}

.project-process--information {
  margin-bottom: 2rem;
  padding-right: 1rem;
}

.project-process--information h2 {
  margin-bottom: 1rem;
}

.repo {
  border: 1px solid rgba(55, 53, 47, 0.16);
  border-radius: 5px;
  padding: 0.75rem;
}

.repo__header {
  display: flex;
  margin-bottom: 0.75rem;
}
.repo__header img {
  margin-right: 0.5rem;
}
.repo__text {
  font-size: 0.9rem;
  color: #5a5d61;
  margin-bottom: 1rem;
}
.repo__footer span {
  margin-left: 0.5rem;
  font-size: 0.8rem;
}
