/* .text-dark {
  color: rgb(79, 79, 79);
  text-align: center;
  padding: 1rem 0 0.5rem 1rem;
} */

@media screen and (min-width: 576px) {
  .container.education-container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.education-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
@media screen and (min-width: 772px) and (max-width: 1194px) {
  .education-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1195px) {
  .education-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.course {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 0;
  margin-bottom: 0.25rem;
  border-radius: 2px;
  padding: 2rem;
  text-align: left;
  background-color: #fff;
  color: #000;
  border: 2px solid rgba(235, 236, 237, 0.8);
}

@media screen and (min-width: 620px) {
  .course {
    margin-right: 0.5rem;
    margin-bottom: 1rem;
  }
}

/* located in utils */
.course-logo {
  width: 75px;
  height: 75px;
  border: 1px solid #eee;
  border-radius: 6px;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.course-logo img {
  padding: 0.5rem !important;
}

.course-content {
  text-align: center;
}
.course-title {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.course-info {
  font-size: 0.85rem;
  font-weight: 500;
  margin: 0;
}
.course-grade {
  font-size: 0.75rem;
  margin-bottom: 1rem;
  color: #6e7881;
}
.btn-certificate {
  padding: 0.5rem;
  font-size: 0.7rem;
  border-radius: 4px;
}
.btn-certificate svg {
  margin-right: 0.5rem;
}

@media screen and (min-width: 650px) {
  .course {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1rem;
  }
  .course-logo {
    margin-right: 0.75rem;
  }
  .course-content {
    text-align: left;
  }
}

.show-more {
  background: none;
  border: none;
  color: rgb(10, 102, 194);
  font-weight: 700;
  padding-bottom: 1rem;
  width: 100%;
}
.show-more:hover {
  text-decoration: underline;
  cursor: pointer;
}
