.repo {
  border: 1px solid rgba(55, 53, 47, 0.16);
  border-radius: 5px;
  padding: 0.75rem;
  margin-bottom: 0.5rem;
}

.repo__header {
  display: flex;
  margin-bottom: 0.75rem;
}
.repo__header-img {
  margin-right: 0.5rem;
}
.repo__text {
  font-size: 0.9rem;
  color: #5a5d61;
  margin-bottom: 1rem;
}
.repo__footer span {
  margin-left: 0.5rem;
  font-size: 0.8rem;
}
