.relative {
  position: absolute;
  padding: 0 1rem;
}

.mb-1 {
  margin-bottom: 0.5rem;
}
.mb-2 {
  margin-bottom: 0.75rem;
}
.mb-3 {
  margin-bottom: 1rem;
}
.mb-4 {
  margin-bottom: 1.5rem;
}

.bb {
  border-bottom: 1px solid #e4e4e4;
}

/* make heading default */
.text-purple {
  color: rgb(16, 42, 67);
}
.text-purple-dark {
  color: rgb(87, 5, 119);
  font-weight: 600;
}

.text-secondary {
  color: #94c85a;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.row.center {
  align-content: first baseline;
  align-items: center;
  height: 100%;
}
.col {
  flex-grow: 1;
  margin-right: 1rem;
}
.text-center {
  text-align: center;
}
.logo {
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto 1rem;
}
.logo img {
  padding: 0.75rem;
  min-width: 75px;
  max-width: 85px;
  height: auto;
}
.logo p {
  text-align: center;
  font-size: 0.9rem;
}

.job {
  background: #3a3c55;
  border-bottom: 5px solid #94c85a;
  padding: 0.5rem;
}
