.relative {
  position: absolute;
  padding: 0 1rem;
}

.mb-1 {
  margin-bottom: 0.5rem;
}
.mb-2 {
  margin-bottom: 0.75rem;
}
.mb-3 {
  margin-bottom: 1rem;
}
.mb-4 {
  margin-bottom: 1.5rem;
}

.bb {
  border-bottom: 1px solid #e4e4e4;
}

/* make heading default */
.text-purple {
  color: rgb(16, 42, 67);
}
.text-purple-dark {
  color: rgb(87, 5, 119);
  font-weight: 600;
}
