.contacts {
  background-color: #3a3c55;
  padding: 0 0 2rem 0;
}

@media screen and (min-width: 1000px) {
  .contacts {
    background-color: #3a3c55;
  }
}

.contacts .lg-heading,
.contacts .sm-heading {
  text-align: center;
  margin-bottom: 0.25rem;
}

@media screen and (min-width: 750px) {
  .contacts .lg-heading,
  .contacts .sm-heading {
    text-align: left;
  }
}

.form-card {
  grid-template-columns: 1fr;
  text-align: left;
  margin: 1rem auto;
}

.form-card.container {
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2rem;
}

.form-card .title {
  font-size: 1.5rem;
  z-index: 5;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .form-card {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .form-card .title {
    font-size: 1.5rem;
    text-align: left;
  }
}
