* {
  box-sizing: border-box;
  padding: 0;
}
*,
body {
  margin: 0;
}
body {
  /* background: #303146; */
  /* background-color: #f3f2ef; */
  background-color: #3a3c55;

  color: #fff;
  height: 100%;
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    font-size: 5rem;
  }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
  }
}

h1.lg-heading,
h2.lg-heading,
h3.lg-heading {
  margin-bottom: 1rem;
  font-size: 3.25rem;
}
h1.sm-heading,
h2.sm-heading,
h3.sm-heading {
  margin-bottom: 2rem;
  padding: 0.2rem 1rem 1rem 0.2rem;
  font-size: 1.25rem;
}

header {
  background-color: #1b1c28;
  padding: 3.5rem 0 0 0;
}

.btn-group {
  text-align: center;
}
.btn-group,
.github-stats {
  /* border-bottom: 3px solid #eee; */
  padding: 1rem 0;
}

.btn,
.btn-certificate,
.btn-dark,
.btn-download,
.btn-light,
.btn-outline {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0.5rem 1rem;
  border: 0;
  margin-right: 0.3rem;
  margin-bottom: 0.3rem;
}
.btn-certificate:hover,
.btn-dark:hover,
.btn-download:hover,
.btn-light:hover,
.btn-outline:hover,
.btn:hover {
  background: #94c85a;
  color: #000;
}
.btn-dark {
  background: #000;
  color: #fff;
}
.btn-light {
  background: #aeafc7;
  color: #333;
}
.btn-outline {
  border: 2px solid #000;
  color: #000;
  /* margin: 0 auto; */
  max-width: 250px;
  transition: all 0.5s ease-out;
}

.btn-outline.active {
  background: #94c85a;
  color: #000;
}
.btn-certificate {
  background: #303146;
  color: #fff;
}
.btn-download {
  background-color: #303146;
  border-radius: 5px;
  color: #fff;
}
.btn-download i {
  color: #fff;
  margin-right: 0.5rem;
}
