.container.about-container {
  padding-right: 0;
  padding-left: 0;
}

.about-stats h3 {
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 0.5rem;
}

.about-stats p,
.alt-bio p {
  margin-bottom: 1rem;
}

.about-stats p a {
  margin-right: 0.75rem;
}

.about {
  text-align: left;
}
.about p {
  margin-bottom: 1rem;
  line-height: 1.58;
  letter-spacing: -0.028px;
}
.profile-text {
  padding: 1rem;
  font-size: 1.05rem;
}

.profile-text a {
  font-weight: bolder;
}

/* .about-info {
  display: grid;
  grid-template-columns: 2fr 1fr;
} */

.about-info img {
  margin-bottom: 1rem;
}

.bio-section {
  padding: 2rem 0;
}

.used-technologies {
  padding: 1rem;
}

.used-technologies h3 {
  font-weight: bold;
  font-size: 1.75rem;
  padding-top: 1rem;
  margin-bottom: 1rem;
}

.icons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  padding-bottom: 2rem;
}
.icons img {
  max-width: 75px;
  max-height: 75px;
  padding: 0.75rem;
}

.bio-list {
  margin-left: 1.5rem;
  padding-bottom: 1rem;
}
.bio-list li {
  margin-left: 0.25rem;
  padding-bottom: 0.5rem;
}

.alt-bio {
  background-color: #f7f7f7;
  color: rgb(79, 79, 79);
}
.alt-bio h2 {
  font-weight: bold;
  color: rgb(16, 42, 67);
}
.alt-bio a {
  color: #292929;
  font-weight: bold;
}

.bio-section h2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.profile-card-body-item svg {
  margin-right: 0.25rem;
}

.btn-outline svg {
  margin-right: 0.25rem;
}
