.work {
  padding: 0 0 2rem 0;
  background-color: #fff;
  color: #37352f;
}

#responsive {
  padding-top: 1.25rem;
}
@media screen and (min-width: 768px) {
  #responsive {
    padding-top: 3rem;
  }
}
