.footer {
  /* background-image: linear-gradient(90deg, #1d4ed8, #5b21b6); */
  color: #fff;
  width: 100%;
}
.footer__inner {
  display: grid;
  justify-content: space-between;
  padding-top: 1.5rem;
  padding-bottom: 2.5rem;
}
@media (min-width: 768px) {
  .footer__inner {
    grid-template-columns: repeat(3, 1fr);
  }
}
.footer__inner-title {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 1rem;
  border-bottom: 2px solid #fff;
  width: 12rem;
}
.footer__inner-list {
  list-style: none;
}
.footer__box {
  margin-bottom: 2rem;
}

.footer__social-item {
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin: 0.5rem 0;
  margin-right: 1rem;
}

.footer__inner-item {
  margin: 0.75rem 0;
}
.footer__inner-list a {
  color: #fff;
}

.footer__box p {
  margin-top: 1rem;
}
.author {
  color: #fff;
}
.heart-container {
  padding: 2rem;
}
.heart {
  display: inline-block;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: no-repeat;
  background-position: 0 0;
  cursor: pointer;
  animation: animate-heart 1s steps(28);
}
.heart:hover {
  background-position: -2800px 0;
  transition: background 1.5s steps(28);
}
@keyframes animate-heart {
  0% {
    background-position: 0 0;
  }
  to {
    background-position: -2800px 0;
  }
}
@media screen and (max-width: 500px) {
  .heart {
    margin-top: 1rem;
  }
}
