.main-footer {
  text-align: center;
  padding: 1rem;
  background: #1b1c28;
  color: #fff;
}
.footer-top {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  align-items: center;
  border-bottom: 1px solid #8b8a8a;
  padding: 1rem 0;
}

@media screen and (min-width: 768px) {
  .footer-top {
    grid-template-columns: repeat(2, 1fr);
  }
}

.footer-top .sitemap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer-top .sitemap > * {
  padding: 0.75rem;
}
@media screen and (min-width: 768px) {
  .footer-top .sitemap > * {
    padding: 1rem;
  }
}

.footer-top .sitemap > * a {
  color: #fff;
  font-weight: 800;
  border-bottom: 3px solid transparent;
  padding-bottom: 0.5rem;
  transition: border-color 0.5s;
}
.footer-top .sitemap > * a:hover {
  border-color: #3ba6b7;
  opacity: 0.8;
}
.footer-top .social-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  color: #fff;
}
.footer-top .social-icons .nav-item {
  padding: 7px;
  background-color: hsla(0, 0%, 100%, 0.15);
  margin: 0.5rem;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.75;
  transition: all 1.25s;
}
.footer-top .social-icons .nav-item.twitter:hover {
  background-color: #1da1f2;
  opacity: 0.8;
  transform: scale(1.5);
}
.footer-top .social-icons .nav-item.facebook:hover {
  background-color: #4267b2;
  opacity: 0.8;
  transform: scale(1.5);
}
.footer-top .social-icons .nav-item.github:hover {
  background-color: #000;
  opacity: 0.8;
  transform: scale(1.5);
}
.footer-top .social-icons .nav-item.linkedin:hover {
  background-color: #2867b2;
  opacity: 0.8;
  transform: scale(1.5);
}
.footer-top .social-icons .nav-item a {
  color: #fff;
}
.footer-bottom {
  text-align: center;
  padding: 1.5rem 0;
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.footer-bottom .author {
  color: #fff;
  transition: all 0.5s;
}
.footer-bottom .author:hover {
  opacity: 0.8;
  color: #94c85a;
  transform: scale(2);
}

.heart-container {
  padding: 2rem;
}
.heart {
  display: inline-block;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: no-repeat;
  background-position: 0 0;
  cursor: pointer;
  animation: animate-heart 1s steps(28);
}
.heart:hover {
  background-position: -2800px 0;
  transition: background 1.5s steps(28);
}
@keyframes animate-heart {
  0% {
    background-position: 0 0;
  }
  to {
    background-position: -2800px 0;
  }
}
@media screen and (max-width: 500px) {
  .heart {
    margin-top: 1rem;
  }
}
