.specializes {
  margin-top: 1rem;
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: 1fr;
  margin-bottom: 3rem;
}
.specialize {
  display: grid;
  grid-template-columns: 1fr;
}

.specializes .img-container {
  margin-bottom: 0.5rem;
}

.specializes h3 {
  margin-bottom: 0.5rem;
  color: #0a2540;
  font-weight: 700;
  font-size: 1rem;
}
.specializes p {
  font-size: 0.95rem;
}

@media (min-width: 800px) {
  .specializes {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
  .specializes .img-container {
    margin-right: 1rem;
  }
  .specializes h3 {
    margin-bottom: 0.5rem;
  }
  .specialize {
    grid-template-columns: 1fr 3fr;
  }
}

@media (min-width: 1500px) {
  .specializes img {
    width: 80px;
  }
  .specializes h3 {
    font-size: 1.25rem;
  }
}
