.bio {
  font-size: 1rem;
}

.bio-name-heading-2 {
  font-size: 2rem;
}
.bio-name-heading-2,
.bio-name-heading-3 {
  font-weight: bolder;
  display: inline-block;
  text-transform: uppercase;
}

/* 
possible removal
.bio-name h3 {
  font-size: 1.5rem;
} */

.bio-content,
.bio-name,
.bio-content h3 {
  margin-bottom: 1rem;
}

.bio-mission-heading {
  border-left: 3px solid #1b1c28;
  padding-left: 1rem;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .bio {
    padding: 2rem 3rem 1rem;
  }
}

/* .bottom-line.secondary {
  background: #94c85a;
} */
