@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .phrase-highlight {
      padding: 0.2rem 0.4rem;
      margin: 0 0.25rem;
      white-space: pre-wrap;
      word-wrap: break-word;
      border-radius: 5px;
      background-color: #a2a7d646;
      font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace,
        Courier;
    }
  }
}
