/* Contact Form Container */

.contact-form {
  width: 100%;
}
.contact-form input,
.contact-form textarea {
  background: transparent;
  padding: 0.75rem 1.15rem;
  margin-bottom: 1.5rem;
  border: 1px solid #e1e2eb;
  border-radius: 3px;
  transition: border 0.75s;
}

.contact-form textarea,
.contact-form input[type="email"],
.contact-form input[type="number"],
.contact-form input[type="text"] {
  width: 100%;
}
.contact-form .asterik {
  color: #e13557;
  display: inline-block;
  vertical-align: baseline;
  font-size: 0.8rem;
}

.contact-form .labels {
  padding-bottom: 0.5rem;
}
.contact-form .labels label {
  text-transform: uppercase;
  color: #102a43;
  font-size: 0.8rem;
  font-weight: 600;
}

/* Select Box */
.select-box {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 42px;
  margin: 0 0 1rem;
  min-width: 250px;
}
.select-box.top {
  z-index: 2000;
}
.select-box .options-view-button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.select-box .options-view-button:checked ~ .options {
  border-color: #eaf1f1 #e4eded #dbe7e7;
  border-style: solid;
  border-width: 1px;
}
.select-box .options-view-button:checked ~ .options .option svg {
  display: block;
  padding: 12px 0;
}
.select-box .options-view-button:checked ~ .options .label {
  display: block;
  padding: 12px 14px;
}
.select-box
  .options-view-button:not(:checked)
  ~ .options
  .option
  input[type="radio"]:checked
  ~ .opt-val {
  top: -30px;
}
.select-box .options-view-button:checked + #select-button #chevrons svg {
  color: #2d3667;
}
.select-box .options-view-button:checked ~ .options .option-bg {
  display: block;
}

.select-box .select-button {
  position: relative;
  padding: 7px 14px;
  background-color: #fff;
  border-radius: 4px;
  border-color: #eaf1f1 #e4eded #dbe7e7;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.65);
  font-size: 0.85rem;
}
.select-box .select-button .chevrons {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 12px;
  padding: 9px 14px;
}
.select-box .select-button .chevrons svg {
  display: block;
  height: 50%;
  color: #d1dede;
  font-size: 12px;
  text-align: right;
}
.select-box .options {
  position: absolute;
  top: 42px;
  right: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 4px;
  z-index: 1000;
}
.select-box .options .option {
  position: relative;
  line-height: 1;
  transition: all 0.3s ease;
  z-index: 2;
}
.select-box .options .option:hover .label {
  color: #fff;
}
.select-box .options .option svg {
  position: absolute;
  left: 14px;
  padding: 0;
  display: none;
  font-size: 2.25rem;
  width: unset;
}
.select-box .options .option input[type="radio"]:checked ~ .opt-val {
  opacity: 1;
  transform: scale(1);
}
.select-box .options .option input[type="radio"]:checked ~ i {
  top: 0;
  bottom: auto;
  opacity: 1;
  animation: unset;
}
.select-box .options .option input[type="radio"]:checked ~ .label,
.select-box .options .option input[type="radio"]:checked ~ i {
  color: #fff;
}
.select-box .options .option input[type="radio"]:checked ~ .label:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.select-box .options .option .label {
  display: none;
  padding: 0;
  margin-left: 27px;
  transition: all 0.3s ease;
}
.select-box .options .option .opt-val {
  position: absolute;
  left: 14px;
  width: 217px;
  height: 21px;
  opacity: 0;
  background-color: #fff;
  transform: scale(0);
}
.select-box .options .label,
.select-box .options .option {
  font-size: 16px;
}
.select-box .option-bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 40px;
  transition: all 0.3s ease;
  z-index: 1;
  display: none;
}
.select-box input[type="radio"] {
  right: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}
/* remove px values */
@media screen and (max-width: 768px) {
  .select-box .select-button .chevrons {
    padding: 9px 16px;
  }
}

/* Select Box Input */
.s-c,
.select-box input[type="radio"] {
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
}
.s-c.top {
  top: 0;
}
.s-c.top:hover ~ i {
  top: -25px;
  animation: movedown 0.3s ease 0.1s forwards;
}
.s-c.bottom {
  bottom: 0;
}
input .s-c.bottom:hover + i {
  bottom: -25px;
  animation: moveup 0.3s ease 0.1s forwards;
}
.s-c:hover {
  height: 100%;
  z-index: 1;
}
.s-c:hover ~ i {
  color: #fff;
  opacity: 0;
}
@keyframes moveup {
  0% {
    bottom: -25px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
@keyframes movedown {
  0% {
    top: -25px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* Select Box Options */
.option .fa-codepen {
  color: #000;
}
.option .fa-dribbble {
  color: #ea4c89;
}
.option .fa-behance {
  color: #0057ff;
}
.option .fa-hackerrank {
  color: #32c766;
}
.option .fa-stack-overflow {
  color: #f48024;
}
.option .fa-free-code-camp {
  color: #006400;
}
.option .fa-hammer {
  color: #a2b1a2;
}
.option .fa-wrench {
  color: #b22222;
}
.option .fa-tools {
  color: #2f4f4f;
}
.option .fa-chalkboard-teacher {
  color: #483d8b;
}
.option .fa-mobile {
  color: #091553;
}
.option .fa-desktop {
  color: #007c7c;
}
.option .fa-firefox-browser {
  color: #f44b4f;
}
.option:first-child:hover ~ .option-bg {
  top: 0;
  background-color: #000;
  border-radius: 4px 4px 0 0;
}
.option:nth-child(2):hover ~ .option-bg {
  top: 40px;
  background-color: #ea4c89;
  border-radius: 4px 4px 0 0;
}
.option:nth-child(3):hover ~ .option-bg {
  top: 80px;
  background-color: #0057ff;
  border-radius: 4px 4px 0 0;
}
.option:nth-child(4):hover ~ .option-bg {
  top: 120px;
  background-color: #32c766;
  border-radius: 4px 4px 0 0;
}
.option:nth-child(5):hover ~ .option-bg {
  top: 160px;
  background-color: #f48024;
  border-radius: 4px 4px 0 0;
}
.option:nth-child(6):hover ~ .option-bg {
  top: 200px;
  background-color: #006400;
  border-radius: 4px 4px 0 0;
}
.option:nth-child(7):hover ~ .option-bg {
  top: 240px;
  background-color: #a2b1a2;
  border-radius: 4px 4px 0 0;
}
.option:nth-child(8):hover ~ .option-bg {
  top: 280px;
  background-color: #b22222;
  border-radius: 4px 4px 0 0;
}
.option:nth-child(9):hover ~ .option-bg {
  top: 320px;
  background-color: #2f4f4f;
  border-radius: 4px 4px 0 0;
}
.option:nth-child(10):hover ~ .option-bg {
  top: 360px;
  background-color: #483d8b;
  border-radius: 4px 4px 0 0;
}
.option:nth-child(11):hover ~ .option-bg {
  top: 400px;
  background-color: #091553;
  border-radius: 4px 4px 0 0;
}
.option:nth-child(12):hover ~ .option-bg {
  top: 440px;
  background-color: #007c7c;
  border-radius: 4px 4px 0 0;
}
.option:nth-child(13):hover ~ .option-bg {
  top: 480px;
  background-color: #f44b4f;
  border-radius: 4px 4px 0 0;
}
.option:first-child input[type="radio"]:checked ~ .label:before {
  background-color: #000;
  color: #fff;
  border-radius: 4px 4px 0 0;
}
.option:first-child input[type="radio"]:checked ~ .opt-val {
  top: -31px;
}
.option:nth-child(2) input[type="radio"]:checked ~ .label:before {
  background-color: #ea4c89;
  color: #fff;
  border-radius: 4px 4px 0 0;
}
.option:nth-child(2) input[type="radio"]:checked ~ .opt-val {
  top: -71px;
}
.option:nth-child(3) input[type="radio"]:checked ~ .label:before {
  background-color: #0057ff;
  color: #fff;
  border-radius: 4px 4px 0 0;
}
.option:nth-child(3) input[type="radio"]:checked ~ .opt-val {
  top: -111px;
}
.option:nth-child(4) input[type="radio"]:checked ~ .label:before {
  background-color: #32c766;
  color: #fff;
  border-radius: 4px 4px 0 0;
}
.option:nth-child(4) input[type="radio"]:checked ~ .opt-val {
  top: -151px;
}
.option:nth-child(5) input[type="radio"]:checked ~ .label:before {
  background-color: #f48024;
  color: #fff;
  border-radius: 4px 4px 0 0;
}
.option:nth-child(5) input[type="radio"]:checked ~ .opt-val {
  top: -191px;
}
.option:nth-child(6) input[type="radio"]:checked ~ .label:before {
  background-color: #006400;
  color: #fff;
  border-radius: 4px 4px 0 0;
}
.option:nth-child(6) input[type="radio"]:checked ~ .opt-val {
  top: -231px;
}
.option:nth-child(7) input[type="radio"]:checked ~ .label:before {
  background-color: #a2b1a2;
  color: #fff;
  border-radius: 4px 4px 0 0;
}
.option:nth-child(7) input[type="radio"]:checked ~ .opt-val {
  top: -271px;
}
.option:nth-child(8) input[type="radio"]:checked ~ .label:before {
  background-color: #b22222;
  color: #fff;
  border-radius: 4px 4px 0 0;
}
.option:nth-child(8) input[type="radio"]:checked ~ .opt-val {
  top: -311px;
}
.option:nth-child(9) input[type="radio"]:checked ~ .label:before {
  background-color: #2f4f4f;
  color: #fff;
  border-radius: 4px 4px 0 0;
}
.option:nth-child(9) input[type="radio"]:checked ~ .opt-val {
  top: -351px;
}
.option:nth-child(10) input[type="radio"]:checked ~ .label:before {
  background-color: #483d8b;
  color: #fff;
  border-radius: 4px 4px 0 0;
}
.option:nth-child(10) input[type="radio"]:checked ~ .opt-val {
  top: -391px;
}
.option:nth-child(11) input[type="radio"]:checked ~ .label:before {
  background-color: #091553;
  color: #fff;
  border-radius: 4px 4px 0 0;
}
.option:nth-child(11) input[type="radio"]:checked ~ .opt-val {
  top: -431px;
}
.option:nth-child(12) input[type="radio"]:checked ~ .label:before {
  background-color: #007c7c;
  color: #fff;
  border-radius: 4px 4px 0 0;
}
.option:nth-child(12) input[type="radio"]:checked ~ .opt-val {
  top: -471px;
}
.option:nth-child(13) input[type="radio"]:checked ~ .label:before {
  background-color: #f44b4f;
  color: #fff;
  border-radius: 4px 4px 0 0;
}
.option:nth-child(13) input[type="radio"]:checked ~ .opt-val {
  top: -511px;
}

.btn-submit {
  width: 100%;
  background-color: #303146;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 1.025rem 15px;
  font-weight: 600;
}
