.project {
  margin-top: -4.5rem;
  padding-bottom: 2rem;
}

.profile-emoji {
  font-size: 3rem;
  background-color: #fff;
  padding: 1rem 1.25rem;
  bottom: -30px;
}

.image-banner {
  width: 100%;
}

.project-heading {
  margin-top: 3rem;
}

/* project-tools */
.project-tools {
  padding: 1rem 0;
  color: rgb(79, 79, 79);
}
.project-tools__heading {
  margin-bottom: 3rem;
}
.project-tools__stats {
  display: flex;
  flex-wrap: wrap;
}
.project-tools__header {
  margin-right: 0.5rem;
}

/* .btn-outline-primary {
  border-color: #94c85a;
  color: #94c85a;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.9);
} */

/* project stats */

.project__stat-container {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 2rem;
}

.project-stat__information {
  margin-right: 1rem;
}
.project-stat__block {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 800px) {
  .project__stat-container {
    grid-template-columns: 2fr 1fr;
  }
  /* .project-stat__information {
    text-align: left;
  } */
  .project .project-heading {
    margin-top: 4rem;
  }
}

@media screen and (min-width: 1000px) {
  .project__stat-container {
    grid-template-columns: 3fr 1fr;
  }
}

/* .project-stat__block--header {
  margin-bottom: 0.75rem;
} */

.img-fluid {
  max-width: 100%;
}

/* 
.project-tool {
  margin-right: 1.5rem;
}
.project-tool h4 {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  color: #292929;
  font-weight: 700;
  font-size: 1.75rem;
}

.project-tool img {
  width: 35px;
  height: 35px;
  margin-bottom: 0.5rem;
} */

.project-process {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
@media screen and (min-width: 1000px) {
  .project-process {
    grid-template-columns: 2fr 1fr;
  }
  .project-process--information {
    text-align: left;
  }
}

.project-process--information {
  margin-bottom: 2rem;
  padding-right: 1rem;
}
