.image-banner {
  width: 100%;
}

.project {
  margin-top: -4.5rem;
  padding-bottom: 2rem;
}

.profile-emoji {
  font-size: 3rem;
  background-color: #fff;
  padding: 1rem 1.25rem;
  bottom: -30px;
}

.project-tools {
  padding: 1rem 0;
  color: rgb(79, 79, 79);
}

.project-tools__heading {
  margin-bottom: 3rem;
}

.project-tools__stats {
  display: flex;
  flex-wrap: wrap;
}

.project-tools__header {
  margin-right: 0.5rem;
}

.project__stat-container {
  display: grid;
  grid-template-columns: 1fr;
}

.project-stat__information {
  margin-right: 1rem;
}

.project-heading {
  margin-top: 3rem;
}

@media screen and (min-width: 800px) {
  .project__stat-container {
    grid-template-columns: 2fr 1fr;
  }
  .project-heading {
    margin-top: 1.5rem;
  }
}

@media screen and (min-width: 1000px) {
  .project__stat-container {
    grid-template-columns: 3fr 1fr;
  }
}

.project-process {
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 3rem;
}

@media screen and (min-width: 1000px) {
  .project-process {
    grid-template-columns: 2fr 1fr;
  }
}

.project-process--information {
  margin-bottom: 2rem;
  padding-right: 1rem;
}

.process-generated {
  margin: 1rem 0;
}

.process-generated ul {
  list-style-type: none;
}

.process-generated p,
.process-generated li {
  margin-bottom: 0.5rem;
}

/* figure */
.tech-figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and(min-width: 700px) {
  .tech-figure {
    padding: 1rem;
  }
}
.tech-figure img {
  margin-bottom: 1.5rem;
}
.tech-figure figcaption {
  font-weight: bolder;
}
